<div class="modal fade" id="newEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="newLabel">
    <div class="modal-dialog" role="form">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="newLabel">Nuevo Elemento</h4>
            </div>
            <div class="modal-body">
                <form ng-submit="addEmployee()" class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label" for="new-employee-name">Nombre</label>
                            <input id="new-employee-name" type="text" class="form-control" ng-model="newEmployee.Name" placeholder="Nombre del empleado" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="new-employee-position" class="control-label">Cargo</label>
                            <select name="new-employee-position" id="new-employee-position" ng-model="newEmployee.PositionId" class="form-control">
                                <option value="" disabled selected>***Elija un cargo***</option>
                                <option ng-repeat="position in positions" value="{{position.Id}}">{{position.Name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="new-employee-rate" class="control-label">Tarifa</label>
                            <input type="number" class="form-control" name="new-employee-rate" ng-model="newEmployee.HourRate" id="new-employee-rate" placeholder="$ / hora">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="new-employee-date" class="control-label">Fecha de Ingreso</label>
                            <input type="text" class="datepicker form-control" ng-model="newEmployee.StartDate" id="new-employee-date" name="new-employee-date" placeholder="Fecha de ingreso">
                        </div>
                    </div>
                    <div class="col-md-2 col-md-offset-10">
                        <input type="submit" class="btn btn-primary" value="Guardar"/>
                   </div>           
                </form>
            </div>
        </div>
    </div>
</div>