<h3 class="win-h3">Cargos</h3>
<div ng-controller="positionsController as positions">
    <form ng-submit="addPosition()">
        <input type="text" class="win-textbox" ng-model="NewPosition.Name" placeholder="Nombre" />
        <br />
        <textarea class="win-textbox" ng-model="NewPosition.Description" placeholder="Descripción" cols="4"></textarea>
        <br />
        <input type="submit" class="win-button win-button-primary" value="Guardar" />
    </form>
    <table class="table table-striped" ng-hide="items.length < 0">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in items">
                <td>{{item.Id}}</td>
                <td>{{item.Name}}</td>
                <td>{{item.Description}}</td>
                <td><a href="#" class="btn btn-sm btn-danger" ng-click="removePosition(item)">X</a></td>
            </tr>
        </tbody>
    </table>
</div>
