<h3 class="win-h3">Cargos</h3>
<div ng-controller="positionsController as positions">
    <form ng-submit="addPosition()">
        <input type="text" class="win-textbox" ng-model="NewPosition.Name" placeholder="Nombre" />
        <br />
        <textarea class="win-textbox" ng-model="NewPosition.Description" placeholder="Descripción" cols="4"></textarea>
        <br />
        <input type="submit" class="win-button win-button-primary" value="Guardar" />
    </form>
    <table class="table table-striped" ng-hide="items.length < 0">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Eliminar</th>
                <th>Editar</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in items">
                <td>{{item.Id}}</td>
                <td>{{item.Name}}</td>
                <td>{{item.Description}}</td>
                <td><a href="#" class="btn btn-sm btn-danger" ng-click="removePosition(item)">X</a></td>
                <td><a href="#" class="btn btn-sm btn-primary" ng-click="editPosition(item)" data-toggle="modal" data-target="#editModal">i</a></td>
            </tr>
        </tbody>
    </table>

    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#editModal">
        Launch demo modal
    </button>

    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editLabel">
        <div class="modal-dialog" role="form">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title win-h4" id="editLabel">Editar Posición</h4>
                </div>
                <div class="modal-body">
                    <form ng-submit="editPosition()">
                        <input type="text" class="win-textbox" ng-model="currentItem.Name" placeholder="Nombre" />
                        <br />
                        <input type="text" class="win-textbox" ng-model="currentItem.Description" placeholder="Descripción" />
                        <br />
                        <input type="submit" class="win-button win-button-primary" value="Guardar" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
