
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div ng-controller="positionsController as positions">
    <form ng-submit="addPosition()">
        <input type="text" ng-model="NewPosition.Name" placeholder="Nombre" />
        <input type="text" ng-model="NewPosition.Description" placeholder="Descripción" />
        <input type="submit" class="btn btn-primary" value="Guardar" />
    </form>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in items">
                <td>{{item.Id}}</td>
                <td>{{item.Name}}</td>
                <td>{{item.Description}}</td>
                <td><a  href="#" class="btn btn-danger" ng-click="removePosition(item)">X</a></td>
            </tr>
        </tbody>
    </table>
</div>