<div class="modal fade" id="editClientModal" tabindex="-1" role="dialog" aria-labelledby="editLabel">
    <div class="modal-dialog modal-lg" role="form">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="editLabel">Nuevo Elemento</h4>
            </div>
            <form ng-submit="addClient()">
                <div class="modal-body">
                    <ul class="nav nav-pills sections" role="tablist">
                        <li class="active" role="presentation">
                            <a href="#general" aria-controls="general" role="tab" data-toggle="tab">
                                Datos Generales
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#contacts" aria-controls="contacts" role="tab" data-toggle="tab">
                                Contactos
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="row active tab-pane" id="general" role="tabpanel">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="edit-client-name">Nombre</label>
                                    <input name="edit-client-name" type="text" class="form-control" ng-model="editedClient.Name" placeholder="Nombre del Cliente" ng-disabled="edit">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="edit-client_bill" class="control-label">Nombre Factura</label>
                                    <input type="text" name="edit-client-bill" class="form-control" ng-model="editedClient.BillName" placeholder="Nombre Factura"  ng-disabled="edit">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="edit-client-type" class="control-label">Tipo Cliente</label>
                                    <select name="edit-client-type" name="edit-client-type" ng-model="editedClient.ClientTypeId" class="form-control" ng-disabled="edit">
                                        <option value="" disabled selected>***Tipo***</option>
                                        <option ng-repeat="type in types" value="{{type.Id}}" ng-selected="editedClient.ClientTypeId == type.Id">{{type.Name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="edit-client-country" class="control-label">País</label>
                                    <select name="edit-client-country" name="edit-client-country" ng-model="editedClient.CountryId" class="form-control capitalize"  ng-disabled="edit">
                                        <option value="" disabled selected>***País***</option>
                                        {{editedClient.CountryId}}
                                        <option ng-repeat="country in countries | orderBy:'SpanishName'" value="{{country.Id}}" ng-selected="editedClient.CountryId == country.Id">{{country.SpanishName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="edit-client-industry" class="control-label">Industria</label>
                                    <select name="edit-client-industry" id="edit-client-industry" ng-model="editedClient.IndustryId" class="form-control"  ng-disabled="edit">
                                        <option value="" disabled selected>***Industria***</option>
                                        <option value="{{industry.Id}}" ng-repeat="industry in industries | orderBy: 'Name'" ng-selected="editedClient.IndustryId == industry.Id">{{industry.Name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="edit-client-attorney" class="control-label">Abogado</label>
                                    <select name="edit-client-attorney" id="edit-client-attorney" ng-model="editedClient.EmployeeId" class="form-control"  ng-disabled="edit">
                                        <option value="" disabled selected>***Abogado***</option>
                                        <option value="{{attorney.Id}}" ng-repeat="attorney in attorneys" ng-selected="editedClient.EmployeeId">{{attorney.Name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="edit-client-email" class="control-label">Correo Electrónico</label>
                                    <input type="email" name="edit-client-email" placeholder="Email" class="form-control" ng-model="editedClient.Email" ng-disabled="edit">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="edit-client-notes" class="control-label">Observaciones</label>
                                    <textarea name="edit-client-notes" rows="3" placeholder="Observaciones" class="form-control" ng-model="editedClient.Notes" ng-disabled="edit"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane row" id="contacts" role="tabpanel">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="edit-contact-name" class="sr-only">Nombre</label>
                                    <input type="text" class="form-control" name="edit-contact-name" placeholder="Nombre" ng-disabled="edit">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="edit-contact-position" class="sr-only">Cargo</label>
                                    <input type="text" class="form-control" name="edit-contact-position" placeholder="Cargo" ng-disabled="edit">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="edit-contact-email" class="sr-only">Email</label>
                                    <input type="email" class="form-control" name="edit-contact-email" placeholder="Email" ng-disabled="edit">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="edit-contact-address" class="sr-only">Direccion</label>
                                    <input type="text" class="form-control" name="edit-contact-address" placeholder="Direccion" ng-disabled="edit">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="edit-contact-mobile" class="sr-only">Celular</label>
                                    <input type="text" class="form-control" name="edit-contact-mobile" placeholder="Celular" ng-disabled="edit">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="edit-contact-office" class="sr-only">Tel Oficina</label>
                                    <input type="text" class="form-control" name="edit-contact-office" placeholder="Tel. Oficina" ng-disabled="edit">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="edit-contact-fax" class="sr-only">Fax</label>
                                    <input type="text" class="form-control" name="edit-contact-fax" placeholder="Fax" ng-disabled="edit">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <button type="button" class="btn btn-lg btn-primary btn-block">Agregar</button>
                                </div>                       
                            </div>
                        </div>
                    </div>                    
                </div>
                <div class="modal-footer">
                    <div class="col-md-12">
                        <input type="submit" class="btn btn-primary" value="Guardar" ng-disabled="edit">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>