<h3>Clientes</h3>

<div ng-controller="clientsController as clients">
    <button type="button" class="btn btn-primary" ng-click="createClient()">
        Nuevo
    </button>
    <table class="table table-striped table-condensed" id="clientsTable">
        <thead>
            <th>#</th>
            <th>Nombre</th>
            <th>Tipo Cliente</th>
            <th>Email</th>
            <th>País</th>
            <th>Abogado</th>
            <th>Creado</th>
            <th>Modificado</th>
        </thead>
    </table>
    @Html.Partial("~/Views/Clients/New.cshtml")
</div>