
<div ng-controller="clientsController as clients" class="container-fluid">
    <h3>Clientes</h3>
    <button type="button" class="btn btn-primary" ng-click="createClient()">
        Nuevo
    </button>
    <div class="card-container row">
        <div class="col-md-3" ng-repeat="item in items">
            <div class="panel panel-default card">
                <div class="panel-body">
                    <ul>
                        <li><i class="fa fa-bookmark-o text-muted fa-fw"></i> {{item.ClientType.Name}}</li>
                        <li><i class="fa fa-user text-muted fa-fw"></i> {{item.BillName}}</li>
                        <li class="capitalize"><i class="fa fa-globe text-muted fa-fw"></i> {{item.Country.SpanishName}}</li>
                        <li><i class="fa fa-envelope-o text-muted fa-fw"></i> {{item.Email}}</li>
                        <li></li>
                        <li><i class="fa fa-briefcase text-muted fa-fw"></i> {{item.Employee.Name}}</li>
                        <br/>
                        <li><a href="#" class="btn btn-primary">Ver más</a></li>
                    </ul>
                </div>
                <div class="panel-footer">
                    {{item.Name}}
                </div>
            </div>     
        </div>
    </div>
    @Html.Partial("~/Views/Clients/New.cshtml")
</div>