<div class="modal fade" id="newClientModal" tabindex="-1" role="dialog" aria-labelledby="newLabel">
    <div class="modal-dialog modal-lg" role="form">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="newLabel">Nuevo Elemento</h4>
            </div>
            <form ng-submit="addClient()">
                <div class="modal-body">
                    <ul class="nav nav-pills sections" role="tablist">
                        <li class="active" role="presentation">
                            <a href="#new-general" aria-controls="general" role="tab" data-toggle="tab">
                                Datos Generales
                            </a>
                        </li>
                        <li role="presentation">
                            <a href="#new-contacts" aria-controls="contacts" role="tab" data-toggle="tab">
                                Contactos
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="row active tab-pane" id="new-general" role="tabpanel">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label" for="new-client-name">Nombre</label>
                                    <input name="new-client-name" type="text" class="form-control" ng-model="newClient.Name" placeholder="Nombre del Cliente" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="new-client_bill" class="control-label">Nombre Factura</label>
                                    <input type="text" name="new-client-bill" class="form-control" ng-model="newClient.BillName" placeholder="Nombre Factura" >
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="new-client-type" class="control-label">Tipo Cliente</label>
                                    <select name="new-client-type" name="new-client-type" ng-model="newClient.ClientTypeId" class="form-control">
                                        <option value="" disabled selected>***Tipo***</option>
                                        <option ng-repeat="type in types" value="{{type.Id}}">{{type.Name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="new-client-country" class="control-label">País</label>
                                    <select name="new-client-country" name="new-client-country" ng-model="newClient.CountryId" class="form-control capitalize">
                                        <option value="" disabled selected>***País***</option>
                                        <option ng-repeat="country in countries | orderBy:'SpanishName'" value="{{country.Id}}">{{country.SpanishName}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="new-client-industry" class="control-label">Industria</label>
                                    <select name="new-client-industry" id="new-client-industry" ng-model="newClient.IndustryId" class="form-control">
                                        <option value="" disabled selected>***Industria***</option>
                                        <option value="{{industry.Id}}" ng-repeat="industry in industries | orderBy: 'Name'">{{industry.Name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="new-client-attorney" class="control-label">Abogado</label>
                                    <select name="new-client-attorney" id="new-client-attorney" ng-model="newClient.EmployeeId" class="form-control">
                                        <option value="" disabled selected>***Abogado***</option>
                                        <option value="{{attorney.Id}}" ng-repeat="attorney in attorneys">{{attorney.Name}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="new-client-email" class="control-label">Correo Electrónico</label>
                                    <input type="email" name="new-client-email" placeholder="Email" class="form-control" ng-model="newClient.Email">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="new-client-notes" class="control-label">Observaciones</label>
                                    <textarea name="new-client-notes" rows="3" placeholder="Observaciones" class="form-control" ng-model="newClient.Notes"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane row" id="new-contacts" role="tabpanel" ng-form="newContact">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="new-contact-name" class="sr-only">Nombre</label>
                                    <input type="text" class="form-control" name="new-contact-name" placeholder="Nombre" ng-model="newContact.Name">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="new-contact-position" class="sr-only">Cargo</label>
                                    <input type="text" class="form-control" name="new-contact-position" placeholder="Cargo" ng-model="newContact.Position">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="new-contact-email" class="sr-only">Email</label>
                                    <input type="email" class="form-control" name="new-contact-email" placeholder="Email" ng-model="newContact.Email">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="new-contact-address" class="sr-only">Direccion</label>
                                    <input type="text" class="form-control" name="new-contact-address" placeholder="Direccion" ng-model="newContact.Address">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="new-contact-mobile" class="sr-only">Celular</label>
                                    <input type="text" class="form-control" name="new-contact-mobile" placeholder="Celular" ng-model="newContact.MobilePhone">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="new-contact-office" class="sr-only">Tel Oficina</label>
                                    <input type="text" class="form-control" name="new-contact-office" placeholder="Tel. Oficina" ng-model="newContact.OfficePhone">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="new-contact-fax" class="sr-only">Fax</label>
                                    <input type="text" class="form-control" name="new-contact-fax" placeholder="Fax" ng-model="newContact.FaxNumber" >
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <button type="button" class="btn btn-lg btn-primary" ng-click="addContact()">Agregar</button>
                                </div>                       
                            </div>
                            <div class="col-sm-12">
                                <table class="table table-responsive table-bordered">
                                    <thead>
                                        <th>#</th>
                                        <th>Nombre</th>
                                        <th>Cargo</th>
                                        <th>Dirección</th>
                                        <th>Tel. Oficina</th>
                                        <th>Tel. Móvil</th>
                                        <th>Fax</th>
                                        <th>Email</th>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in newClient.ClientContacts">
                                            <td>{{item.Correlative}}</td>
                                            <td>{{item.Name}}</td>
                                            <td>{{item.Position}}</td>
                                            <td>{{item.Address}}</td>
                                            <td>{{item.OfficePhone}}</td>
                                            <td>{{item.MobilePhone}}</td>
                                            <td>{{item.FaxNumber}}</td>
                                            <td>{{item.Email}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>         
                        </div>                     
                    </div>                    
                </div>
                <div class="modal-footer">
                    <div class="col-md-12">
                        <input type="submit" class="btn btn-primary" value="Guardar"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>