<div class="modal fade" id="newClientModal" tabindex="-1" role="dialog" aria-labelledby="newLabel">
    <div class="modal-dialog modal-lg" role="form">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="newLabel">Nuevo Elemento</h4>
            </div>
            <form ng-submit="addClient()">
                <div class="modal-body row">           
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="sr-only" for="new-client-name">Nombre</label>
                            <input name="new-client-name" type="text" class="form-control" ng-model="newClient.Name" placeholder="Nombre del Cliente" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="new-client_bill" class="sr-only">Nombre Factura</label>
                            <input type="text" name="new-client-bill" class="form-control" ng-model="newClient.BillName" placeholder="Nombre Factura" >
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="new-client-type" class="sr-only">Tipo Cliente</label>
                            <select name="new-client-type" name="new-client-type" ng-model="newClient.ClienTypeId" class="form-control">
                                <option value="" disabled selected>***Tipo***</option>
                                <option ng-repeat="type in types" value="{{type.Id}}">{{type.Name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="new-client-industry" class="sr-only">Industria</label>
                            <select name="new-client-industry" id="new-client-industry" ng-model="newClient.IndustryId" class="form-control">
                                <option value="" disabled selected>***Industria***</option>
                                <option value="{{industry.Id}}" ng-repeat="industry in industries">{{industry.Name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="new-client-attorney" class="sr-only">Abogado</label>
                            <select name="new-client-attorney" id="new-client-attorney" ng-model="newClient.AttorneyId" class="form-control">
                                <option value="" disabled selected>***Abogado***</option>
                                <option value="{{attorney.Id}}" ng-repeat="attorney in attorneys">{{attorney.Name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="new-client-email" class="sr-only">Correo Electrónico</label>
                            <input type="email" name="new-client-email" placeholder="Email" class="form-control" ng-model="newClient.Email">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="col-md-12">
                        <input type="submit" class="btn btn-primary btn-lg btn-block" value="Guardar"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>