@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,400);

body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f3f3f4;
    font-weight: 300;
    font-size: 15px;
    }

.ng-toast {
    margin-left: -270px;
}

h1, h2, h3, h4, h5 {
    font-weight: 400;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}

.config-container {
    margin-top: 20px;
}

.tab-content > .active {
    padding: 15px;
    background-color: #fff;
}

.centered {
    text-align: center;
}
.sections {
    border-bottom: 1px solid #D4D4D5;
}

.nav-pills > li > a {
    border-radius: 0;
    text-transform: uppercase;
    color: #495361;
    font-weight: 700;
    opacity: .8;
    font-size: 13px;
}

.nav-pills > li.active > a, 
.nav-pills > li.active > a:hover, 
.nav-pills > li.active > a:focus {
    border-radius: 0;
    text-transform: uppercase;
    background-color: transparent;
    color: #495361;
    border-bottom: 5px solid #337ab7;
    opacity: 1;
}

.nav > li > a:hover,
.nav > li > a:focus {
    background-color: transparent;
}
a:focus {
    outline: 0;
}

.modal-content {
    border-radius: 0;
}

.form-control {
    border-style: solid;
    border-width: 2px;
    border-radius: 0;
    margin: 8px 0px;
    color: #000000;
    background-color: rgba(255, 255, 255, 0.4);
    border-color: rgba(0, 0, 0, 0.4);
    padding: 4px 12px;
}

.control-label {
    margin-bottom: 0;
}

.btn {
    border-style: solid;
    margin: 0px;
    padding: 4px 8px;
    border-width: 0;
    background-clip: border-box;
    border-radius: 0;
    touch-action: manipulation;
}

.modal-header {
    background-color: #0076A3;
    color: #fff;
}

.modal-footer {
    background-color: #f3f3f4;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: #0076A3;
    font-weight: bold;
}

.btn-primary {
    background-color: #0076A3;
}
/*SideBar Code*/

/*!
 * Start Bootstrap - Simple Sidebar (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

 .navbar-inverse {
     background-color: #3E4149;
     border-color: transparent;
 }

 body {
    overflow-x: hidden;
 }

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #0076A3;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #fff;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
    background-color: #006a92;
}

/*.sidebar-nav > .sidebar-brand a {
    color: #999999;
}
*/
.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

.capitalize {
    text-transform: capitalize;
}


.datepicker table tr td {
    border-radius: 15px;
}

.loading-panel {
    width: 100%;
    text-align: center;
    font-size: 22px;
    font-weight: normal;
    transition: 1s ease all;
    -webkit-transition: 1s ease all;
    opacity: 1;
}

.loading-panel.ng-hide {
    transition: 1s ease all;
    -webkit-transition: 1s ease all;
    opacity: 0;
}

.ng-hide {
    opacity: 0;
}
