body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Segoe UI Light', Tahoma, Geneva, Verdana, sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.config-container {
    margin-top: 20px;
}

.tab-content > .active {
   /*border: 1px solid #D4D4D5;*/
    padding: 15px;
}

.sections {
    border-bottom: 1px solid #D4D4D5;
}

.nav-pills > li > a {
    border-radius: 0;
    text-transform: uppercase;
}

.nav-pills > li.active > a, 
.nav-pills > li.active > a:hover, 
.nav-pills > li.active > a:focus {
    border-radius: 0;
    text-transform: uppercase;
    background-color: #FFF;
    color: #337ab7;
    font-weight: bolder;
    border-bottom: 3px solid
}

.nav > li > a:hover,
.nav > li > a:focus {
    background-color: #FFF;
}

.btn {
    border-radius: 0;
    border-color: #D4D4D5;
}

a:focus {
    outline: 0;
}