<h3>Cargos</h3>
<button class="btn btn-primary" type="button" data-toggle="modal" data-target="#newPositionModal">
    Nuevo
</button>
<div ng-controller="positionsController as positions">
    <table class="table table-striped table-condensed">
        <thead>
            <th></th>
            <th>#</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Creado</th>
            <th>Modificado</th>
        </thead>
        <tbody>
            <tr ng-repeat="item in items">
                <td class="centered"><a href="#" ng-click="editPosition(item)" data-toggle="modal" data-target="#editPositionModal"><i class="fa fa-pencil"></i></a></td>
                <td>{{item.Id}}</td>
                <td>{{item.Name}}</td>
                <td>{{item.Description}}</td>
                <td>{{item.relCreateDate}}</td>
                <td>{{item.relModifyDate}}</td>
            </tr>
        </tbody>
    </table>
    @Html.Partial("~/Views/Positions/New.cshtml")
    @Html.Partial("~/Views/Positions/Edit.cshtml")
</div>